@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-1: hsl(26, 100%, 55%);
  --primary-2: hsl(25, 100%, 94%);
  --neutral-v-dark-b: hsl(220, 13%, 13%);
  --neutral-dark-g-b: hsl(219, 9%, 45%);
  --neutral-g-b: hsl(220, 14%, 75%);
  --neutral-l-g-b: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --shadow: hsl(0, 0%, 0%, 0.75);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --max-width: 1170px;
}

body {
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

.loading {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--primary-1);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.page {
  min-height: calc(100vh - (20vh + 10rem));
}

.section-center.products {
  margin-bottom: 2.5rem;
}

.products-container {
  display: grid;
  gap: 2rem 1.5rem;
}

@media (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1170px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
